.partners-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  padding: 2rem 0;
}

.partners-track {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.partners-container:hover .partners-track {
  animation-play-state: paused;
}

.partners-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vmin;
  height: 25vmin;
  margin: 0 1rem;
  background-color: white;
  border-radius: 10%;
  transition: transform 0.2s ease-out;
  flex-shrink: 0;
}

.partners-item-wrapper:hover {
  transform: scale(1.05);
}

.partners-item-wrapper img {
  padding: 2vmin;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
