---
import '@/styles/components/products/product-item-card.css';
import '@/styles/globals.css';

import db from '@/assets/data/db.json';

import ProductItemCard from './product-item-card.astro';
---
<div class='flex flex-row flex-wrap justify-center items-center'>
  {
    db.products.stainless_steel.map((item) => (
      <ProductItemCard productData={item} />
    ))
  }
</div>