---
import '@/styles/components/products/product-item-card.css';
import '@/styles/globals.css';

import { Button } from '@/components/ui/button';
import { Card } from '@/components/ui/card';
import ProductCarousel from '@/components/products/product-carousel';

import { type ProductData } from './types';

interface Props {
  productData: ProductData;
};

const { productData } = Astro.props;

const productImagesDir = '/src/assets/images/products/stainless_steel/';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/products/stainless_steel/*.{jpeg,jpg,png,svg}');

---

<Card className='flex flex-col w-[30vmin] h-[35vmin] p-[2vmin] m-[2vmin] justify-evenly align-middle'>

  <ProductCarousel productData={productData}/>
  
  <h1>{productData.name}</h1>
  <p>{productData.description}</p>

  <Button className='w-[100px]'>More details</Button>

</Card>

