---
import '@/styles/components/products/product-item-card.css';
import '@/styles/globals.css';

import ProductCarousel from '@/components/products/product-carousel';
import { Button } from '@/components/ui/button';
import { Card } from '@/components/ui/card';

import { getImage } from 'astro:assets';
import { type ProductData } from './types';

interface Props {
  productData: ProductData;
};

const { productData } = Astro.props;

const productImagesDir = '/src/assets/images/products/stainless_steel/';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/products/stainless_steel/*.{jpeg,jpg,png,svg}');

const productImageUri = await Promise.all(
  productData.images.map(async (imageFileName) => {
    return (await getImage({src: images[productImagesDir + imageFileName]()})).src;
  })
);

---

<Card className='flex flex-col w-[40vmin] h-[50vmin] p-[2vmin] m-[2vmin] items-center justify-between'>

  <ProductCarousel client:visible
    productImageUri={productImageUri}
  />
  
  <h1 class='w-full text-start text-[2.5vmin] font-semibold'>{productData.name}</h1>
  <p class='w-full text-start'>{productData.description}</p>

  <div class='flex flex-row justify-between w-full'>
    <Button className='w-[12vmin] h-[4.5vmin] text-[1.5vmin]'>More details</Button>
  </div>

</Card>

