@import '../common.css';

.home-layout {
  width: 100%;
}

.home-banner-caption {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.home-banner-caption-h0 {
  display: flex;
  align-items: center;

  flex: 2;
  font-size: 4.5vw;
  font-weight: bolder;
  text-shadow: #FFFFFF 0px 0px 10px;

  opacity: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-name: fadein, slideup;
  animation-fill-mode: forwards;

  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

.home-banner-caption-h0:hover {
  text-shadow: #FFFFFF 0px 0px 50px;
}

.home-banner-caption-h1 {
  display: flex;
  align-items: center;

  flex: 1;
  font-size: 3.5vw;

  opacity: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-name: fadein, slideup;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.home-banner-caption-h2 {
  display: flex;
  align-items: center;

  flex: 1;
  font-size: 2.5vw;

  opacity: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-name: fadein, slideup;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.home-partners {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  opacity: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-name: fadein, slideup;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.home-partners-caption {
  font-size: 4.5vw;
  font-weight: bold;
  margin-bottom: 2vh;

  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
