.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideup {
  from {
    top: 100px;
  }

  to {
    top: 0px;
  }
}

@keyframes slidedown {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}

.animate-fadein {
  opacity: 0;
  animation-name: fadein;
  animation-fill-mode: forwards;
}

.animate-fadeout {
  opacity: 0;
  animation-name: fadeout;
  animation-fill-mode: forwards;
}

.animate-fadein-up {
  opacity: 0;
  position: relative;
  top: 100px;
  animation-name: fadein, slideup;
  animation-fill-mode: forwards;
}

.animate-fadein-down {
  opacity: 0;
  position: relative;
  top: -100px;
  animation-name: fadein, slidedown;
  animation-fill-mode: forwards;
}

.animate-fadeout-up {
  opacity: 0;
  position: relative;
  top: 0px;
  animation-name: fadeout, slideup;
  animation-fill-mode: forwards;
}

.animate-fadeout-down {
  opacity: 0;
  position: relative;
  top: 0px;
  animation-name: fadeout, slidedown;
  animation-fill-mode: forwards;
}