---
import '@/styles/globals.css';

import { BreadcrumbResponsive, type BreadcrumbData } from '@/components/breadcrumb';
import PageLayout from '../layouts/page-layout.astro';

import { Content as AboutPageContent } from '@/assets/data/pages/about.mdx';

const breadcrumbData: BreadcrumbData = {
  items: [
    { href: "/", label: "Home" },
    { label: "About Us" },
  ]
}

---

<PageLayout pageTitle="About Us">
  <div class="bg-white px-[5vmin] py-[3vmin] min-h-screen md:px-[15vw]">

    <BreadcrumbResponsive data={breadcrumbData} client:visible />
    
    <article class="prose lg:prose-xl max-w-none prose-code:before:hidden prose-code:after:hidden" >
      <AboutPageContent/>
    </article>
    
  </div>
</PageLayout>