---
import '@/styles/globals.css';

import { BreadcrumbResponsive, type BreadcrumbData } from '@/components/breadcrumb';
import PageLayout from '../layouts/page-layout.astro';

const breadcrumbData: BreadcrumbData = {
  items: [
    { href: "/", label: "Home" },
    { label: "About Us" },
  ]
}

---

<PageLayout pageTitle="About Us">
  <div class="bg-white px-[5vmin] py-[3vmin] min-h-[100vh] md:px-[15vw]">

    <BreadcrumbResponsive data={breadcrumbData} client:visible />
    
    <div class="text-start">
      <p class="text-base font-semibold text-gray-600">
        ALDR L.L.C. was founded in 2007 and is located at 79 XinKang Road, Wujiang, Suzhou, Jiangsu, China. We focus on designing, making, and assembling high-quality stainless steel products that meet the needs of advanced laboratory environments.
      </p>

      <p class="text-base font-semibold text-gray-600">
        At ALDR, we believe in four key values: Advanced, Laboratory-grade, Durable, and Reliable. These values help us create products that work well and last a long time, even in tough conditions.\nOur modern factory uses advanced equipment to make sure our products are top quality.
      </p>

      <p class="text-base font-semibold text-gray-600">
        Some of our machines include:

        <ol>
          <li>Precision CNC shearing and folding machines</li>
          <li>CNC board machines</li>
          <li>CNC routers</li>
          <li>Lathes and milling machines</li>
          <li>Automatic stainless steel welding machines</li>
          <li>Polishing machines</li>
        </ol>
      </p>

      <p class="text-base font-semibold text-gray-600">
        Our Main Stainless Steel Products:

        <ol>
          <li>
            Laboratory Equipment: Workbenches, test benches, cleanroom pass-through windows, and stainless steel furniture for clean rooms and labs. This includes trial benches, tables, lockers, storage racks, wardrobes, ottoman stools, and different types of trolleys.
          </li>
          <li>
            Biopharmaceutical Solutions: Magnetic stirring tanks, different kinds of storage tanks, and stainless steel lifting machines.
          </li>
          <li>
            Medical and Industrial Products: Cleaners for medical factories, sinks, and custom stainless steel parts for specialized uses.
          </li>
        </ol>
      </p>

      <p class="text-base font-semibold text-gray-600">
        At ALDR, we are dedicated to innovation, precision, and quality. You can count on us for durable and reliable stainless steel products that support the important work done in labs, medical facilities, and industrial spaces around the world.
      </p>
    </div>
  </div>
</PageLayout>