---
import '@/styles/globals.css';

import { BreadcrumbResponsive, type BreadcrumbData } from '@/components/breadcrumb';
import PageLayout from '../layouts/page-layout.astro';

const breadcrumbData: BreadcrumbData = {
  items: [
    { href: "/", label: "Home" },
    { label: "Contact Us" },
  ]
}

---

<PageLayout pageTitle= "Contact Us">
  <div class="bg-white px-[5vmin] py-[3vmin] min-h-[100vh] md:px-[15vw]">

    <BreadcrumbResponsive data={breadcrumbData} client:visible />
    
    <div class="text-center">
      <p class="text-base font-semibold text-indigo-600">Contact Us</p>
    </div>
  </div>
</PageLayout>