---
import '@/styles/globals.css';
import '@/styles/pages/home.css';
import '@/styles/pages/page.css';

import Partners from '@/components/partners.astro';
import PageLayout from '@/layouts/page-layout.astro';

import { Image } from 'astro:assets';

import homeBannerImg from '@/assets/images/home/home-banner-min.jpg';

---

<PageLayout>
	<Image src={homeBannerImg} alt="Home Banner" class="page-banner-img" />

	<div class="home-layout">
		<div class="home-banner-caption">
			<p class="home-banner-caption-h0">{'Fortune Global 500 Supplier'}</p>
			
			<!-- "Advanced Laboratory Durable Reliable" with the first letter BOLD weight -->
			<p class="home-banner-caption-h1">
				<span class='font-bold'>A</span>{'dvanced'}&nbsp;
				<span class='font-bold'>L</span>{'aboratory'}&nbsp;
				<span class='font-bold'>D</span>{'urable'}&nbsp;
				<span class='font-bold'>R</span>{'eliable'}
			</p>

			<p class="home-banner-caption-h2">
				{'High Quality Stainless Steel Products'}
			</p>
		</div>

		<div class="home-partners">
			<p class="home-partners-caption">{'Our Partners'}</p>
			<Partners />
		</div>
	</div>
</PageLayout>
