---
import '@/styles/globals.css';
import '@/styles/pages/home.css';
import '@/styles/pages/page.css';

import Partners from '@/components/partners.astro';
import PageLayout from '@/layouts/page-layout.astro';

import homeBannerImg from '@/assets/images/home/home-banner-min.jpg';
import { Image } from 'astro:assets';
---

<PageLayout>
	<div class='flex flex-col px-0 sm:px-[15vw]'>
		<Image src={homeBannerImg} alt="Home Banner" class="page-banner-img" />

		<div class="home-banner-caption">
			<h1 class="home-banner-caption-h0">{'Fortune Global 500 Supplier'}</h1>
			
			<!-- "Advanced Laboratory Durable Reliable" with the first letter BOLD weight -->
			<h2 class="home-banner-caption-h1">
				<span class='font-bold'>A</span>{'dvanced'}&nbsp;
				<span class='font-bold'>L</span>{'aboratory'}&nbsp;
				<span class='font-bold'>D</span>{'urable'}&nbsp;
				<span class='font-bold'>R</span>{'eliable'}
			</h2>

			<h3 class="home-banner-caption-h2">
				{'High Quality Stainless Steel Products'}
			</h3>
		</div>

		<div class='mt-[5vw] flex flex-col justify-center items-center text-white animate-fadein-up duration-500 delay-300 z-10'>
			<h1 class="text-[4.5vw] font-bold my-[3vmin]">{'Our Partners'}</h1>

			<Partners />
		</div>
	</div>
</PageLayout>
