---
import '@/styles/globals.css';
import '@/styles/pages/products.css';

import PageLayout from '@/layouts/page-layout.astro';
---

<PageLayout>
  <div class="w-full h-full min-h-full">
    <div class='products-banner-caption'>
      <p class='products-banner-caption-h0'>
        {'PRODUCTS'}
      </p>
    </div>
  </div>
  

  <!-- {
    <ProductCardsGrid products={products} />
  } -->
</PageLayout>