---
import '@/styles/globals.css';

import policeIcon from '@/assets/images/misc/ccp-police-icon.png';
import { Image } from 'astro:assets';

const currentYear = new Date().getFullYear();
---

<div class='flex flex-col items-center bg-slate-800 border-none p-4'>
  <p class='text-white'>
    {"Copyright"} {currentYear} {"ALDR LLC. All rights reserved"}
  </p>

  <p>
    <a class="text-xs text-white" href="http://beian.miit.gov.cn">{"苏ICP备2020053862号-1"}</a>
  </p>

  <div class="flex flex-row items-center text-white no-underline">
    <Image class="mr-1 w-4 h-4" alt="police-icon" src={policeIcon} /> <span class='text-xs'>{"苏公网安备 32050902101167号"}</span>
  </div>
</div>