---
import "@/styles/components/partners.css";

import db from '@/assets/data/db.json';

import { Image } from 'astro:assets';

const partnerLogosDir = '/src/assets/images/partners-logo/';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/partners-logo/*.{jpeg,jpg,png,svg}');

---

<div class='partners-container'>
  <div class='partners-track'>
    {
      [...db.partners, ...db.partners].map((item) => (
        <div class='partners-item-wrapper'>
          <a href={"https://" + item.website} target="_blank" rel="noopener noreferrer">
            <Image alt={item.name} src={images[partnerLogosDir + item.logo_file_name]()}
              class='w-full h-full'
            />
          </a>
        </div>
      ))
    }
  </div>
</div>