---
import '@/styles/globals.css';

import db from '@/assets/data/db.json';
import PageLayout from '@/layouts/page-layout.astro';
import { productSlug } from '@/lib/utils';

export function getStaticPaths() {
  return db.products.stainless_steel.map((product) => ({
    params: {
      slug: productSlug(product.name)
    },
    props: { product }
  }));
}

const { product } = Astro.props;
---

<PageLayout pageTitle={product.name}>
  <h1 class='text-white'>Product {product.name}</h1>
</PageLayout>