---
import PageLayout from "./page-layout.astro";
const { frontmatter, lang } = Astro.props;
---

<PageLayout pageTitle={frontmatter.title} lang={lang || 'en'}>
  <div class="bg-white px-[5vmin] py-[3vmin] min-h-screen md:px-[15vw]">
    <!-- metadata -->
    {
      frontmatter.description && (
        <p><em>{frontmatter.description}</em></p>
      )
    }

    <!-- main content -->
    <article class="prose lg:prose-xl max-w-none" >
      <slot />
    </article>
  </div>
</PageLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>