# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Deploy ALDR Website

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [content-update]

jobs:
  build:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: "Create env file"
        run: |
          touch .env
          echo PUBLIC_SUPABASE_URL="https://cwekxndxzpymauoxixes.supabase.co" >> .env
          echo PUBLIC_SUPABASE_KEY=${{ secrets.SUPABASE_KEY }} >> .env
          cat .env
      - name: Install packages
        run: pnpm install
      - name: Build pages
        run: pnpm build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN  }}
          publish_dir: ./dist
